body{
    background-color: black;
    position: relative;
}

.container{
    padding-top: 5%;
    padding-left: 10%;
    display: flex;
    border-radius: 10px;
}
#canvas{
    height: 200px;
    width: 1300px;
    background:white;
    position: absolute;
    bottom: 0;
    padding: 0 10px 10px 10px;
    border-radius: 10px;
}

#canvas2{
    height: 800px;
    width: 1300px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}