body{
    background-color: black;
}

.container{
    padding-top: 5%;
    padding-left: 10%;
    display: flex;
    border-radius: 10px;
}
#canvas{
    height: 200px;
    width: 1300px;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

#canvas2{
    height: 800px;
    width: 1300px;
    padding: 10px;
    background-color: #0B3C90;
    opacity: 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.textconta{
    position: absolute;
    width: 400px;
    height: 130px;
    background-color: #047c977c;
    left: 15%;
    bottom: 15%;
    border: 3px solid transparent; 
    border-image: linear-gradient(to bottom, #d6dea9 0%, #5a5c4f 100%) 1;
}