body{
    background-color: black;
    position: relative;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
}
#canvas{
    height: 300px;
    width: 1300px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
}

#canvas2{
    height: 800px;
    width: 1300px;
    background: #ffff;
    
}